html, body {
  background-color: black;
      background-image: url(../img/aboutback.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-repeat: no-repeat;
	background-position: absolute; 
	height:100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Century Gothic light, Helvetica, Ariel, Sans-serif;
}
div {
  margin: 0;
  padding: 0;
  border: 0;
}
h1 {
  font-size: 50px;
}
.section {
  padding: 0 0 50px 0;
}
.left {
  display: block;
  float:left;
  width: 50%;
  height: 100%;
}
.left h1 {
  font-size: 72px;
  padding-right: 15px;
}
.right {
  display: block;
  float: right;
  width: 50%;
}
.clear {
  clear:both;
  line-height: 0;
}
.textWrap {
  padding-top: 20px;
  width:  60%;
  margin: auto;
  height: 100%;
}
#header {
  color: #8DBC3A; /*GreendotGreen*/
  background-color: black;
  margin: 0;
}
#section1 {
  background-color: #8DBC3A; /*GreendotGreen*/
}
#section1 .left{
 text-align: right;
}
#section2 {
  background-color: white;
}
#section2 .left {
  text-align: center;
}
#events {
  font-size: 50px;
}
#getInvolved {
  font-size: 100px;
  color: #8DBC3A; /*GreendotGreen*/
}
#calendarIcon {
  width: 400px;
  height: 400px;
}
#menu {
  background: white;
  top: 0;
}
nav {
  height: 100px;
  width:100%;
  position: relative;
  top:0;
}
nav ul {
  padding:0;
  margin: 0;
  text-align: center;
  position: absolute;
  height: 100%;
  width:100%;
}
nav ul li {
  display: block;
  float: left;
  width: 20%;
  height:100%;
  line-height: 100px;
}
#logo {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  display:block;
  overflow:hidden;
  text-indent:100%; 
  white-space:nowrap;

}
nav ul li a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}
nav ul li a:hover{
  color: #8DBC3A;
}
#header h2 {
  font-size: 75px;
  line-height:125px;
  text-align: center;
  margin-top: 50px;
}
.testimonies {
  padding: 5px 0 20px 0;
  text-align: center;
  background-color: black;
  color: #8DBC3A; /*GreendotGreen*/
}
.testimonies img {
  height: 320px;
  width: 480px;
}
#eventsOnFacebook {
  text-align: center;
  background-color: black;
  width: 420px;
  margin: auto;
}
#eventsOnFacebook h1 {
  font-size: 36px;
  color: white;
  padding: 15px 5px 0 5px;
}
#contact {
  background-color: black;
  color: #8DBC3A; /*GreendotGreen*/
  text-align: center;
}
#contact h1 {
  margin: 0;
  font-size: 80px;
}
#contact span {
  margin-top: 5px;
  display: inline-block;
  vertical-align: top;
}
#contact .textWrap {
  padding-top: 0;
}
#contactLogo {
  padding-left: 15px;
}
#about {
color: #8DBC3A;
}
div.transbox
{
  margin: 75px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity:0.9;
  filter:alpha(opacity=80); /* For IE8 and earlier */
}

div.transbox h2{
  color: black;
  font-size: 40px;
  text-align: center;
}

div.transbox p, h3{
  color: black;
  text-align: left;
  margin: auto 75px;
  padding: 10px;
}
